n8n/workflows/ALIO_완료통지_v1.json
{
  "name": "ALIO 완료통지 v1",
  "nodes": [
    {
      "id": "w",
      "name": "완료 수신(webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "alio-done",
        "responseMode": "onReceived"
      },
      "webhookId": "alio-done"
    },
    {
      "id": "c",
      "name": "메시지 구성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        0
      ],
      "parameters": {
        "jsCode": "const b=$json.body||$json;const ok=b.ok;const track=b.track||\"?\";const exit=b.exit;const dg=b.digest||{};const tail=String(b.tail||\"\").slice(-500);\nconst re=(dg.run_errors||0)>0?` · ⚠오류 ${dg.run_errors}건`:``;\nconst msg=ok?`[ALIO] ✅ ${track} 완료 — 신규 ${dg.missing??\"?\"}·OCR대기 ${dg.ocr_needed??\"?\"}${re} (누적변환실패 ${dg.failed??\"?\"}, 참고)`:`[ALIO] ⚠️ ${track} 실패 (exit ${exit})\\n${tail}`;\nreturn [{json:{msg}}];"
      }
    },
    {
      "id": "t",
      "name": "ANDY 통지",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        520,
        0
      ],
      "parameters": {
        "chatId": "<TELEGRAM_CHAT_ID>",
        "text": "={{$json.msg}}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "<CRED_ID>",
          "name": "ANDY"
        }
      },
      "webhookId": "02b05c37-d8ac-4f94-a4b3-feac6d321629"
    }
  ],
  "connections": {
    "완료 수신(webhook)": {
      "main": [
        [
          {
            "node": "메시지 구성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "메시지 구성": {
      "main": [
        [
          {
            "node": "ANDY 통지",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
